/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/


.page_wrapper__xDBJh{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.page_items__GxdmE{
    width: 130%;
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.page_item__z7Kdy{
    width: 700px;
    height: 800px;
    margin:5px;
    overflow: hidden;
    transition: all .3s ease;
    
}
.page_item__z7Kdy:hover{
    transform: scale(1.01);
}
.page_img__434ND{
        /* Styles for the img inside .item */
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.4);
    
}
.page_overlay__pWWMz{
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: clamp(3rem, 8vw, 10rem);
    overflow: hidden;
}

.page_h1__fdyfB{
    transform: scale(0);
}
